---
import Sse from "../components/Sse.tsx"
import Aristotle from "../components/Aristotle.tsx"
import "../styles/main.css"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
	<div id="wrapper">
		<Aristotle client:only="react"/>
	</div>
	</body>
</html>